.student-demographics {
  overflow-y: auto;
}

.student-demographics-container {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 1px 0px 0px grey;
  padding-top: 0.5rem;
  border: 0.25px solid lightgrey;
  overflow: hidden;
}

.student-demographics-container input {
  border: none;
  outline: none;
  border-bottom: 1px lightgrey solid;
  margin: 0 1rem;
  padding: 0.75rem 0.25rem;
  font-size: 17px;
}

.student-demographics::-webkit-scrollbar {
  width: 8px;
  background: grey;
}

.student-demographics::-webkit-scrollbar-track {
  background: white;
}

.student-demographics::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.student-demographics::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.student-demographics::-webkit-scrollbar-thumb:active {
  background: grey;
}
